*{
  padding:0rem;
  margin:0rem;
  box-sizing: border-box;
}

.HomePageMainDiv{
  padding-bottom:1.5rem;
}

.HomePageMainDiv ,.ProfilePageMainDiv{
  width:70rem;
  margin:0rem auto 0rem;
}

.CreateUserAndCourseSec{
  display: flex;
  width:100%;
  justify-content: space-between;
  align-items: top;
}

.OverflowAddMainDiv{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  background-color: rgba(0, 0, 0, 0.658);
  overflow: hidden; 
  display: flex;
  justify-content: center;
   align-items: center;
  z-index: 999999;
}