.ViewAssignmentMain{
    width:100%;
    height: 100dvh;
    background-color: red;
}

.DocumentContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  width:100%;
}

.DocumentFrame {
  width: 100%;
  min-height: 100dvh;
  border: none;
}